*{ font-family: 'Poppins', sans-serif;  }
.clr_fix { clear: both; }
.main_wrapper { padding-top: 25px; position: relative; }
.heading h2 { font-size: 36px; font-weight: 300; }
span.red{ color: #911515; font-weight: 500; }
.search_add{ border: 1px solid #999; padding: 30px 40px 30px 40px; margin-top: 10px; height: 75vh;}
.add_user, .assing_roles { height: 75vh; }
.result{ border: 1px solid #999; padding: 10px 10px 10px 25px; margin-top: 40px; height: 75vh;}
.tools { 
    border: 1px solid #999; 
    padding: 2px; 
    width: 72%; 
    border-radius: 1000px; 
    position: absolute; 
    top: -40px; 
    background-color: #fff;
    right: -30px;
}
.actions ul, .tools ul { margin: 0px; padding: 0px; }
.actions ul li, .tools ul li { list-style: none; float: left; margin: 0px 2px; }
.actions ul li { list-style: none; float: left; margin: 0px 5px; }
.tools .fa-search,
.tools .fa-trash, 
.tools .fa-pencil, 
.actions .fa-eye, 
.actions .fa-download, 
.actions .fa-files-o,
.tools .fa-refresh, 
.tools .user_settings, 
.tools .fa-user-circle-o, 
.tools .fa-user-plus,
.tools .fa-plus,
.tools .fa-users,
.fa-user-times { 
    color: #911515; 
    border: 2px solid #911515; 
    padding: 5px 6px; 
    border-radius: 50%; 
    font-size: 17px;
}
.tools .fa-users { padding: 5px;  }
.tools .fa-refresh, .tools .fa-users, .actions .fa-files-o { color: #666; border: 2px solid #666; }
.tools .fa-refresh:hover,  .tools .fa-users:hover { background-color: #999;  color: #fff; border: 2px solid #999; }
.tools .fa-user-circle-o { font-size: 30px !important; color: #666; padding: initial; border: none; }
.tools .fa-user-circle-o:hover { background-color: #fff;  color: #999; }
.tools .fa-pencil, .actions .fa-eye { color: #000; border: 2px solid #000; }
.tools .fa-pencil:hover, .tools .fa-user-plus:hover, .tools .fa-plus:hover { background-color: #000; color: #fff; }
.tools .fa-user-plus, .tools .fa-plus { border: 2px solid #000; color: #000; padding: 5px 7px;}
.tools .fa-search:hover, .tools .fa-trash:hover, .fa-user-times:hover { color: #fff; background-color: #990033; }
.fa-user-times { font-size: 12px !important; padding: 7px}
.tooltips { position: relative; display: inline-block; }
.tooltips .tooltiptext {
    visibility: hidden;
    width: 70px;
    color: #333;
    position: absolute;
    z-index: 2;
    top: 35px;
    /* left: 5px; */
    font-size: 9px;
    font-weight: bold;
}
.tooltips:hover .tooltiptext { visibility: visible; }

/* ------------left side--------------- */

.btn_yes { background-color: #181717; color: #fff; padding: 5px 60px; border: none; }
.btn_no { background-color: #990033; color: #fff; padding: 5px 60px; border: none; }
.btn_yes:hover { background-color: #5e5e5e; }
.btn_no:hover { background-color: #5e5e5e; }
.checkbox-inline { font-size: 12px; margin-right: 11px; }
.checkbox-inline input { margin-right: 3px; }
.sub_head { margin-bottom: 30px; }
.form-control:focus { color: #181717; border-color: #990033; box-shadow: none; }
.sort ul { margin: 0px; padding: 0px; }
.sort ul li { float: left; list-style: none; margin-right: 25px; }
.sort ul li a { font-size: 12px; color: #7F7F7F; }
.sort ul li a:hover { color: #181717; text-decoration: none; font-weight: 700; }
h6 { font-size: 12px; margin-bottom: 2px; }
.input-fields { border: 1px solid #BFBFBF; font-size: 14px; width: 100%; border-radius: 0rem; margin-bottom: 10px; }
.label-heading { color: #BFBFBF; font-size: 12px; }
.form-control:focus { color: #181717; border-color: #990033; box-shadow: none; }
.sort-pad h6 { font-size: 18px; }
.sort li.active a { color: #181717; font-weight: 700; }
.sort li.active a i { color: #990033; }
.form_input { margin-bottom: 20px; }
.form_input h6 { color: #7f7f7f; }

/* ------------right side-------------- */

.showing_rows_count { text-align: right; font-size: 12px; margin-right: 30px; }
.total_sections { height: 580px; overflow-x: hidden; overflow-y: scroll; padding-right:20px; }
.user_section { border: 1px solid #999; padding: 10px; margin: 10px 10px 23px 0px; }
.msg_section { border: 1px solid #999; margin-right: 10px; }
.msg_section h5 { font-size: 16px; margin: 10px 0px 5px 0px; color: #990033; }
.msg_section p { color: #7f7f7f; margin: 0px; font-size: 14px; }
.msg_section i { font-size: 24px; display: block; margin: 20px 0px; color: #990033; }
.msg_section span { font-size: 11px; color: #990033; margin-right: 13px; font-weight: 500;}
.left_banner { background-color: #990033; width: 20px; height:100%; }
.user_heading { border-bottom: 2px solid #911515; font-size: 16px;}
.user_login span, .user_email span { font-size: 8px; }
.user_login p, .user_email p { font-size: 10px; color: #000; font-weight: bold; margin: 0px 0px 2px 0px; line-height: 0;}
.user_tools .tools { width: auto; top: 60px; right: -5px; }
.user_status { font-size: 10px; font-weight: bold; color: #911515; }
.user_status img { width: 40%; }
.user_pic img { margin: 36% 7%; }
.os-theme-round-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before { border: 2px solid #911515; }
.os-theme-round-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover::before { border: 2px solid #911515; background: #911515; }

/* ------------------Forgot Pass------------------------ */

.forgot_pass_content_main { margin-top: 140px; }

/* ------------------User Signup------------------------ */

.signup_content_main { margin-top: 10px; }

/* ------------------Popup------------------------------ */

.alert_popup_error, .alert_popup_success { position: absolute; top: 0; width: 100%; height: 100%; z-index: 9; }
.alert_popup_error div, .alert_popup_success div { 
    background-color: rgba(73, 73, 73, 0.8);
    position: fixed;
    top: 30%;
    left: 42%;
    z-index: 9;
    padding: 30px 25px;
    height: 250px;
    color: #fff;
    width: 240px;
    text-align: center;
}
.alert_popup_error div{
    background: rgba(145, 21, 21, 0.8);
    padding: 30px 0px;
}
.alert_popup_error img, .alert_popup_success img { 
    width: 100px; 
    text-align: center;
    margin: 10% 25% 10% 25%;
 }

 /* -----------------Add New User----------------------- */

.yes_display_section{ display: block; }
.no_display_section{ display: none; }
.toggleActiveClass { color: #212529; }
.toggleInActiveClass { color: #BFBFBF; }
.switch { position: relative; display: inline-block; width: 60px; height: 34px; margin: 0px 34%; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #990033;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round { border-radius: 50px; }
.slider.round:before { border-radius: 50%; }
input:checked+.slider { background-color: #990033; }
input:focus+.slider { box-shadow: 0 0 1px #990033; }
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
span.Int { margin-left: 58%; }
span.Ext { margin-left: 5%; }
.close_button { float: right; cursor: pointer; margin-top: 10px; }
.toggle_check { margin-top: 60px; }

/* ------------------Assign Roles----------------------- */

#lstBox1, #lstBox2 { height: 300px; overflow: auto; border-radius: unset; }
.subject-info-arrows { margin: 145% 0px; }
.list_heads {
    padding: 3px 10px;
    border: 2px solid #ccc;
    text-align: center;
    color: #990033;
    font-weight: 500;
}
#btnAllRight, #btnRight, #btnLeft, #btnAllLeft { color: #990033; }
option { font-weight: bold; }

/* ------------------Edit Profile----------------------- */

.adjust_middle { margin-top: 60px; margin-bottom: 30px; }
.container_new {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container_new input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #BFBFBF;
    background-color: #fff;
}
.container_new:hover input~.checkmark { background-color: #fff; }
.container_new input:checked~.checkmark { background-color: #990033; }
.checkmark:after { content: ""; position: absolute; display: none; }
.container_new input:checked~.checkmark:after { display: block; }
.container_new .checkmark:after {
    left: 10px;
    top: 5px;
    width: 8px;
    height: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ------------------User Profile----------------------- */

.user_profile label { font-size: 12px; color: #7F7F7F; margin-bottom: 2px; display: block; }
.user_profile select { padding: 6px; width: 100%; }

/* ------------------Feedback--------------------------- */

.choose_file{ 
    border: 1px dashed;
    width: 100%;
    height: 120px;
    background-color: #efefef;
    /* background: url('../images/upload.png') no-repeat; */
    background-size: 10px;
    cursor: pointer; 
}

/* ------------------Permissions------------------------- */

.perm_right p { font-size: 10px; color: #000; font-weight: bold; margin: 0px 0px 2px 0px; line-height: 1;}
.perm_right span { font-size: 8px; color: #990033; font-weight: bold; }
.permissions .user_tools { height: 10px; }
.permissions .user_tools .tools { top: -10px; }
.permissions .user_login span { color: #990033; font-weight: bold; }

/* ------------------Role Maintenance-------------------- */

.role_right p { font-size: 10px; color: #000; font-weight: bold; margin: 0px 0px 2px 0px; line-height: 1;}
.role_right span { font-size: 8px; color: #990033; font-weight: bold; }
.role_right .total_sections { height: 555px; }
.role_right p{ margin-bottom: 5px; }
.assigned_user .total_sections {     height: 390px; }
.assigned_user .sort { border-top: 1px solid #ddd; padding: 7px 0px; border-bottom: 1px solid #ddd; }
.assigned_user .role_right span { font-size: 14px; }
.assigned_user .role_right p { font-size: 12px; }
.assigned_user .user_tools { height: 0px; }
.assigned_user .user_tools .tools { top: -15px; }
.assigned_user .user_section { margin: 10px 10px 25px 0px; }

/* ------------------Role Permission Assignment--------- */

.role_perm .user_tools, .role_perm_main .user_tools { height: 10px;}
.role_perm .user_tools .tools, .role_perm_main .user_tools .tools { top: 0px; }
.role_perm_main, .role_perm { height:790px; }
.role_perm_main .total_sections { height:460px; }
.role_perm .total_sections { height:460px; }
.role_perm { padding-right: 18px; }

/* -------------------Todo page------------------------- */

.search_todo, .add_todo, .todo, .edit_todo { height: 700px; }
.search_todo .form_input, .add_todo .form_input, .edit_todo .form_input { position: relative; }
.search_todo .fa-search, 
.search_todo .fa-calendar,
.edit_todo .fa-calendar,
.add_todo .fa-calendar,
.edit_todo .fa-calendar { position: absolute; top: 27px; right: 10px; cursor: pointer; color: #990033; }
.add_todo .choose_file { height: 80px;}
.todo_right p { font-size: 10px; color: #000; font-weight: bold; margin: 0px 0px 2px 0px; line-height: 1;}
.todo_right span { font-size: 8px; color: #990033; font-weight: bold; }
.todo_right .total_sections { height: 555px; }
.todo_right p{ margin-bottom: 5px; }
.todo .user_tools { height: 0px; }
.todo .user_tools .tools { top: -15px;}
.todo .total_sections { height: 630px; }
.edit_todo .choose_file {height: 80px;}
.search_ldap_user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9; 
}
.ldap_section { 
    width: 600px; 
    margin: 0px auto; 
    border: 1px solid #999; 
    padding: 20px; 
    position: absolute; 
    top: 25%; 
    left: 32%; 
    background: #fff; 
}
.ldap_section .total_sections { height: 215px; }
.ldap_section .total_sections .user_section { margin: 10px; }

/* -------------------User Admin------------------------- */

.user_admin table tr td .row div { height: 30px; }
.user_admin table tr td { width: 50%; border: 1px solid #999; text-align: center; }
.user_admin table tr td .btn_yes { width: 60%; }
.user_admin table tr td .slider { background-color: #999; }
.user_admin table tr td input:checked+.slider { background-color: #990033; }
.create_heap_dump, .serving {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9; 
}

/* -------------------Support Chat----------------------- */

.support_chat {
    position: absolute;
    bottom: 38px;
    right: 15px;
    width: 350px;
    color: #fff;
    background-color: #181717;
}
.chat_head { border-bottom: 2px solid #990033; }
.action_icons .fa{ cursor: pointer; }
.agent_join { font-size: 12px; color: #999; border-bottom: 1px dashed #999; padding-bottom: 15px;  }
.chat_section { 
    background-color: #fff; 
    color: #000; 
    padding: 15px; 
    border-left: 1px solid #999; 
    border-right: 1px solid #999;
    overflow-y: scroll;
    height: 300px;
}
.chat_section h6 { color: #990033; font-size: 10px; font-weight: bold;}
.chat_section p { margin-bottom: 0px; }
.chat_section .agent_text p { 
    font-size: 12px; 
    background-color: #707070; 
    color: #fff; 
    padding: 5px; 
    border: 1px solid #d7d7d7;
}
.chat_section .user_text p {
    font-size: 12px; 
    background-color: #ebebeb; 
    color: #1e1e1e; 
    padding: 5px; 
    border: 1px solid #d7d7d7;
}
.post_section { padding: 5px; background-color: #999;}
.post_section button { border-radius: 10px; width: 30px; height: 30px; position: sticky; bottom: 46px; }
.agent_text { position: relative; }
.agent_text::before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -13px;
    right: auto;
    top: 1px;
    bottom: auto;
    border: 7px solid;
    border-color: #d7d7d7 #d7d7d7 transparent transparent;
}
.user_text::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 1px;
    top: 0px;
    bottom: auto;
    border: 7px solid;
    border-color: #d7d7d7 transparent transparent  #d7d7d7;
}
.agent_time, .user_time { margin-bottom: 10px; font-size: 10px; }
.user_time { text-align: right; }
.spl_one::before { top: 14px; }

/* -------------------File Navigator--------------------- */

.panel { margin-bottom: 15px; }
.panel a { color: #990033; }
.panel a:hover { text-decoration: none; }
.panel-heading{ background-color: #fff; padding: 10px; border: 1px solid #999; }
.panel-collapse { border: 1px solid rgb(153, 153, 153); padding: 10px; border-bottom: 2px solid #990033;}
.panel-heading .accordion-toggle:before { 
    content: "\25BE";
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: 3px;
}
.panel-heading .accordion-toggle.collapsed:before { 
    content: "\25B8";
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: 3px;
}
.sec_head { border-bottom: 1px solid #999; margin-bottom: 5px; }
.sec_head h6 { font-size: 16px; color: #990033; font-weight: bold; }
.sec_body { border: 1px solid #999; margin: 10px 0px;}
.sec_body h6 { font-size: 12px; font-weight: bold; margin: 20px 0px; }
.actions { margin: 5% 22%; }
.actions .tooltiptext { left: -19px !important; top: 30px; }

/* -------------------MEDIA Queries---------------------- */

@media screen and (min-width: 320px) and (max-width: 350px) {
    .user_login p, .user_email p { font-size: 9px; }
    .user_heading table tr td:first-child { font-size: 14px; }
    .sub_head .tools { top: -100px; width: 112px; }
    .btn_yes { margin-bottom: 5px; width: 100%; }
    .btn_no { width: 100%; }
    .add_user, .assing_roles { height: auto; }
    .search_user h6 { margin-left: 0px !important; }
    .assigned_user .tools { top: -130px; }
}

@media screen and (min-width: 320px) {
    .user_pic { display: none; }
    .user_tools { height: 20px; position: relative; }
    .user_tools .tools { width: auto; right: -15px; top: 5px; }
    .sub_head .tools { top: -100px; width: 112px; }
    .search_user { height: 430px !important; }
    .search_user .tools { top: -75px; }
    .btn_yes { margin-bottom: 5px; width: 100%; }
    .btn_no { width: 100%; }
    .sort ul li { width: 50%; margin: 0px; }
    .total_sections { height: 614px; }
    .signup_content_main { margin-top: 0px; }
    .forgot_pass_content_main { margin-top: 70px; }
    .search_add{ height: auto;}
    .result{ height: auto;}
    .toggle_check div {text-align: center;}
    .Ext, .Int { margin: 0px !important; }
    .toggle_check { margin-top: 0px; }
    .switch { margin: 0px; }
    .subject-info-arrows { margin: 0px; }
    .permissions {margin-top: 50px;}
    .permissions .total_sections { height: 580px; }
    .edit_user .tools, 
    .search_role .tools, 
    .add_role .tools, 
    .edit_role .tools, 
    .edit_todo .tools, 
    .add_todo .tools, 
    .search_todo .tools { top: -76px; }
    .role_perm_main select { margin-bottom: 0px !important; }
}

@media screen and (min-width: 369px) {
    .add_role .tools {top: -75px;}
    .assigned_user .tools { top: -76px; }
}

@media screen and (min-width: 768px) {
    .result { margin-top: 10px;}
    .user_tools { height: 20px; position: relative; }
    .user_tools .tools { width: auto; right: -15px; top: 5px; }
    .sub_head .tools { top: -40px; }
    .btn_yes, .btn_no { padding: 5px; width: 100% }
    .tools { width: 85%; }
    .sub_head .tools { width: 112px; }
    .content_div { max-width: 100%; flex: auto; }
    .user_login .col-md-8, .user_login .col-md-4 { flex: auto; max-width: 100%; }
    .signup_content_main { margin-top: 0px; }
    .search_add{ height: 730px;}
    .result{ height: 730px;}
    .total_sections { height: 680px; } 
    .toggle_check div {text-align: inherit !important; }
    .Ext, .Int { margin: inherit !important; }
    .toggle_check { margin-top: 100px; }
    .subject-info-arrows { margin-top: 100px !important; } 
    .adjust_middle { margin-top: 100px; }
    .user_profile select { padding: 4px; width: 100%; }
    .permissions {margin-top: 10px;}
    .role_perm_main select { margin-bottom: 90px !important; }
    .role_perm, .role_perm_main { height: 870px; }
    .role_perm .total_sections, .role_perm_main .total_sections { height: 500px; }
    .todo .total_sections { height: 570px; }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .total_sections { height: 650px; }
    .role .total_sections { height: 555px; }
    .signup_content_main { margin-top: 30px; }
    .result { height: 698px; }
    .search_add { height: 698px; }
    .todo .total_sections { height: 570px; }
}

@media screen and (min-width: 1200px) {
    .total_sections { height: 580px; }
    .role .total_sections { height: 555px; }
    .user_section .pic_div { display: block; }
    .user_section .content_div { max-width: 83.333333%; }
    .user_pic { display: block; }
    .sort ul li { float: left; list-style: none; margin-right: 25px; width: auto; }
    .user_login .col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .user_login .col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .signup_content_main { margin-top: 10px; }
    .forgot_pass_content_main { margin-top: 140px; }
    .result { height: 620px;}
    .add_user, .search_add, .assing_roles { height: auto; }
    .Int { margin-left: 58% !important; }
    .switch {margin: 0px 34%;}
    .search_add { height: 620px; }
    .search_user { height: 670px !important; }
    .adjust_middle { margin-top: 60px; }
    .user_profile select { padding: 6px; width: 100%; }
    .permissions .total_sections { height: 605px; }
    .role_perm_main, .role_perm { height:790px; }
    .role_perm_main .total_sections { height:460px; }
    .role_perm .total_sections { height:460px; }
    .search_todo, .add_todo, .todo, .edit_todo { height: 700px; }
    .todo .total_sections { height: 630px; }
}